@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
  background-color: #eee;
  font-family: Source Sans Pro;
  width:100% auto;
  length: auto;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  
}

#date{
margin: 1em 0em 0em 1em;
font-family: Abril Fatface;
}

/* Navigation Start */
nav{
  display: block;
}

nav ul {
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eee;
}

nav ul li {
  display: inline;
  list-style-type:none;
  text-decoration: none;
  font-size: 8px;
  font-weight: 300;
  font-family: Roboto Slab, sans-serif;
  margin-left: 1.7em;
  padding: 6px;
  text-align: justify;
}
/* Navigation End */

/* Main Section */
.newspaper-container{
  background-color: white;
  width: 800px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px light #ddd;
  margin:auto;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
}

h1{
  text-align: center;
  font-color: black;
  font-family: Abril Fatface;
  font-weight: bold;
}
h4{
font-weight: 800;
font-family: Abril Fatface;
}

h5 {
color: red;
font-family: Abril Fatface;
}

main{
margin-inline:3% 3%;
text-align:justify;
}
/* Main Section Ends */

/* Bottom Section Start */
.more-articles{
  display:inline-block;
  width: 800px;
  border-top: solid ;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  }  

#tabs-space, #how-much{
  display:inline-block;
  width: 300px;
  text-align:justify;
  margin-inline:3% 3%;
  font-family: Roboto Slab;  
}

/* Bottom Section End */